/*
 * Style sheet for LayoutSampleCSS
 */

.pane {
    -fx-background-color: #8fbc8f;


}

.grid {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}


.vbox {
    /*    -fx-background-image: url("graphics/arrow_t_up_right.png");
        -fx-background-size: 96, 205;
        -fx-background-repeat: no-repeat;*/
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 25;
}

#hbox-custom {
    /*    -fx-background-image: url("graphics/cloud.png");
        -fx-background-size: 64,64;
        -fx-padding: 18 4 18 6;
        -fx-spacing: 25;*/
    -fx-padding: 8;
    -fx-background-radius: 5.0;
}

.flow-tile {
    -fx-padding: 10.0 3.0 5.0 0.0;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

#button-custom {
    /*    -fx-rotate: 45;*/
    -fx-text-alignment: center;
}

.vbox {
    -fx-background-image: url("graphics/arrow_t_up_right.png");
    -fx-background-size: 96, 205;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

#hbox-custom {
    -fx-background-image: url("graphics/cloud.png");
    -fx-background-size: 64,64;
    -fx-padding: 18 4 18 6;
    -fx-spacing: 25;
    -fx-background-radius: 5.0;
}

#button-custom {
    -fx-rotate: 45;
    -fx-text-alignment: center;
}